<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>miniapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE584F921BD9B2A5006001AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE584FA61BD9B2A5006001AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE584FB11BD9B2A5006001AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
